Repository CDCgov/NEDSS-Modernization, changes with the owners that CODEOWNERS names for each.
All owners: @JimBarrows-Enquizit, @mpeels, @szamfir

CNFT1-802 Support ssn search without dashes
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/PatientService.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/PatientSearchSteps.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/support/util/ElasticsearchPersonMapper.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/support/util/RandomUtil.java
  apps/modernization-api/src/test/resources/features/patient/PatientSearch.feature
Owners: @JimBarrows-Enquizit, @mpeels

nifi
  cdc-sandbox/nifi/nifi_conf/conf/flow.xml.gz
  cdc-sandbox/nifi/templates/Patient_Search_Ingestion.xml
Owners: @JimBarrows-Enquizit

identification
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/PatientService.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/PatientSearchSteps.java
  apps/modernization-api/src/test/resources/features/patient/PatientSearch.feature
Owners: @JimBarrows-Enquizit, @mpeels

more
  apps/modernization-api/src/test/java/gov/cdc/nbs/support/util/ElasticsearchPersonMapper.java
Owners: @JimBarrows-Enquizit, @mpeels

nifi
  cdc-sandbox/nifi/nifi_conf/conf/flow.xml.gz
  cdc-sandbox/nifi/templates/Patient_Search_Ingestion.xml
Owners: @JimBarrows-Enquizit

ssn
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/PatientService.java
Owners: @JimBarrows-Enquizit, @mpeels

minor check
  apps/modernization-ui/src/pages/patientProfile/Demographics.tsx
Owners: @JimBarrows-Enquizit, @mpeels

Reduce elasticsearch test container memory usage. Use local test db until ECR config is resolved
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/NbsElasticsearchContainer.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/database/NbsDatabaseContainer.java
Owners: @JimBarrows-Enquizit, @mpeels

README update
  apps/modernization-api/README.md
Owners: @JimBarrows-Enquizit, @mpeels

Remove redundant datasource url
  apps/modernization-api/src/test/resources/application-test.yml
Owners: @JimBarrows-Enquizit, @mpeels

Use local test db image (#208)
  apps/modernization-api/README.md
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/NbsElasticsearchContainer.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/database/NbsDatabaseContainer.java
  apps/modernization-api/src/test/resources/application-test.yml
Owners: @JimBarrows-Enquizit, @mpeels

patient documents ui test fix
  apps/modernization-ui/src/patient/profile/document/PatientDocumentSorter.spec.ts
Owners: @JimBarrows-Enquizit, @mpeels

generate graphql client
  apps/modernization-ui/src/generated/gql/queries/findInvestigationsForPatient.gql
  apps/modernization-ui/src/generated/gql/queries/index.js
  apps/modernization-ui/src/generated/graphql/schema.ts
  apps/modernization-ui/src/generated/schema.graphqls
Owners: @JimBarrows-Enquizit, @mpeels

patient profile investigations ui
  apps/modernization-ui/src/components/Table/Table.spec.tsx
  apps/modernization-ui/src/components/Table/Table.tsx
  apps/modernization-ui/src/pages/patientProfile/Events.tsx
  apps/modernization-ui/src/pages/patientProfile/Summary.tsx
  apps/modernization-ui/src/pages/patientProfile/components/SummaryTables/OpenInvestigations.tsx
  apps/modernization-ui/src/patient/profile/document/PatientDocumentSorter.spec.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigation.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationSorter.spec.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationSorter.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationTransformer.spec.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationTransformer.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationsTable.spec.tsx
  apps/modernization-ui/src/patient/profile/investigation/PatientOpenInvestigationsTable.spec.tsx
  apps/modernization-ui/src/patient/profile/investigation/PatientOpenInvestigationsTable.tsx
  apps/modernization-ui/src/patient/profile/investigation/index.ts
  apps/modernization-ui/src/sorting/Sort.ts
  apps/modernization-ui/src/sorting/index.ts
Owners: @JimBarrows-Enquizit, @mpeels

patient profile investigations
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/NameRenderer.java
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigation.java
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationFinder.java
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationResolver.java
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationTupleMapper.java
  apps/modernization-api/src/main/resources/graphql/patient-investigation.graphqls
  apps/modernization-api/src/test/java/gov/cdc/nbs/investigation/InvestigationMother.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/investigation/InvestigationSteps.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/investigation/TestInvestigationCleaner.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/contact/NameRendererTest.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationResolverTest.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationSteps.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationTupleMapperTest.java
  apps/modernization-api/src/test/resources/features/patient/PatientProfileInvestigation.feature
  libs/database-entities/src/main/java/gov/cdc/nbs/entity/odse/PublicHealthCase.java
Owners: @JimBarrows-Enquizit, @mpeels

silly sonar
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationFinder.java
Owners: @JimBarrows-Enquizit, @mpeels

removes replaced component
  apps/modernization-ui/src/pages/patientProfile/components/SummaryTables/OpenInvestigations.tsx
Owners: @JimBarrows-Enquizit, @mpeels

fix feature
  apps/modernization-api/src/test/resources/features/patient/PatientSearch.feature
Owners: @JimBarrows-Enquizit, @mpeels

CNFT1-802 Support Ssn search without dashes (#206)
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/PatientService.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/PatientSearchSteps.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/support/util/ElasticsearchPersonMapper.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/support/util/RandomUtil.java
  apps/modernization-api/src/test/resources/features/patient/PatientSearch.feature
  cdc-sandbox/nifi/nifi_conf/conf/flow.xml.gz
  cdc-sandbox/nifi/templates/Patient_Search_Ingestion.xml
Owners: @JimBarrows-Enquizit, @mpeels

CNFT1 - 797 api pull data to co infection number field in investigation table (#209)
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/NameRenderer.java
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigation.java
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationFinder.java
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationResolver.java
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationTupleMapper.java
  apps/modernization-api/src/main/resources/graphql/patient-investigation.graphqls
  apps/modernization-api/src/test/java/gov/cdc/nbs/investigation/InvestigationMother.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/investigation/InvestigationSteps.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/investigation/TestInvestigationCleaner.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/contact/NameRendererTest.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationResolverTest.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationSteps.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/patient/profile/investigation/PatientInvestigationTupleMapperTest.java
  apps/modernization-api/src/test/resources/features/patient/PatientProfileInvestigation.feature
  apps/modernization-ui/src/components/Table/Table.spec.tsx
  apps/modernization-ui/src/components/Table/Table.tsx
  apps/modernization-ui/src/generated/gql/queries/findInvestigationsForPatient.gql
  apps/modernization-ui/src/generated/gql/queries/index.js
  apps/modernization-ui/src/generated/graphql/schema.ts
  apps/modernization-ui/src/generated/schema.graphqls
  apps/modernization-ui/src/pages/patientProfile/Events.tsx
  apps/modernization-ui/src/pages/patientProfile/Summary.tsx
  apps/modernization-ui/src/pages/patientProfile/components/SummaryTables/OpenInvestigations.tsx
  apps/modernization-ui/src/patient/profile/document/PatientDocumentSorter.spec.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigation.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationSorter.spec.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationSorter.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationTransformer.spec.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationTransformer.ts
  apps/modernization-ui/src/patient/profile/investigation/PatientInvestigationsTable.spec.tsx
  apps/modernization-ui/src/patient/profile/investigation/PatientOpenInvestigationsTable.spec.tsx
  apps/modernization-ui/src/patient/profile/investigation/PatientOpenInvestigationsTable.tsx
  apps/modernization-ui/src/patient/profile/investigation/index.ts
  apps/modernization-ui/src/sorting/Sort.ts
  apps/modernization-ui/src/sorting/index.ts
  libs/database-entities/src/main/java/gov/cdc/nbs/entity/odse/PublicHealthCase.java
Owners: @JimBarrows-Enquizit, @mpeels

vaccination finder will now use parent id to include vaccinations for all child records
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/vaccination/PatientVaccinationFinder.java
Owners: @JimBarrows-Enquizit, @mpeels

Change to non Mac image
  .github/workflows/sonar.yaml
Owners: @szamfir

provide ecr image name as property
  .github/workflows/sonar.yaml
Owners: @szamfir

Make image configurable for test db. Update sonar.yaml to allow connecting to ecr
  .github/workflows/sonar.yaml
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/database/NbsDatabaseContainer.java
  cdc-sandbox/test-db/Dockerfile
Owners: @szamfir, @JimBarrows-Enquizit, @mpeels

Move permission block
  .github/workflows/sonar.yaml
Owners: @szamfir

reorder jobs
  .github/workflows/sonar.yaml
Owners: @szamfir

fix repo name env
  .github/workflows/sonar.yaml
Owners: @szamfir

configurable database image
  apps/modernization-api/build.gradle
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/database/NbsTestDatabaseInitializer.java
  apps/modernization-api/src/test/resources/application-test.yml
  cdc-sandbox/test-db/Dockerfile
Owners: @JimBarrows-Enquizit, @mpeels

Remove Holder class for NbsTestDatabaseInitializer
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/database/NbsDatabaseContainer.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/database/NbsTestDatabaseInitializer.java
Owners: @JimBarrows-Enquizit, @mpeels

rebase
  apps/modernization-api/src/test/resources/application-test.yml
Owners: @JimBarrows-Enquizit, @mpeels

Remove cucumber test filter (#202)
  .github/workflows/sonar.yaml
  apps/modernization-api/build.gradle
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/database/NbsDatabaseContainer.java
  apps/modernization-api/src/test/java/gov/cdc/nbs/containers/database/NbsTestDatabaseInitializer.java
  apps/modernization-api/src/test/resources/application-test.yml
  cdc-sandbox/test-db/Dockerfile
Owners: @szamfir, @JimBarrows-Enquizit, @mpeels

Set up cucumber tests for questionnaire microservice.
  apps/modernization-api/build.gradle
  apps/modernization-ui/cypress/e2e/search/PatientSearch.feature
  apps/question-bank/build.gradle
  apps/question-bank/src/main/java/gov/cdc/nbs/questionbank/questionnaire/QuestionnaireContext.java
  apps/question-bank/src/main/java/gov/cdc/nbs/questionbank/questionnaire/QuestionnaireRepository.java
  apps/question-bank/src/main/java/gov/cdc/nbs/questionbank/questionnaire/QuestionnaireResolver.java
  apps/question-bank/src/main/resources/db/migration/V0001__init.sql
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/CucumberTest.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/QuestionBankApplicationTests.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/QuestionnaireSteps.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/support/QuestionnaireMother.java
  apps/question-bank/src/test/resources/features/questionnaire/Questionnaire.feature
  gradle/libs.versions.toml
Owners: @JimBarrows-Enquizit, @mpeels

tests, move gradle looging script to central location
  apps/modernization-api/build.gradle
  apps/question-bank/build.gradle
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/CucumberTest.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/entities/DateQuestionTest.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/entities/DropDownQuestionTest.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/entities/NumericQuestionTest.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/entities/TextQuestionTest.java
  scripts/gradle/cucumber-logging.gradle
Owners: @JimBarrows-Enquizit, @mpeels

move some test files around
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/CucumberTests.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/questionnaire/QuestionnaireSteps.java
Owners: none

vaccination finder will now use parent id to include vaccinations for all child records (#210)
  apps/modernization-api/src/main/java/gov/cdc/nbs/patient/profile/vaccination/PatientVaccinationFinder.java
Owners: @JimBarrows-Enquizit, @mpeels

Add Condition table, allow questionnaires to be tied to multiple conditions
  apps/question-bank/src/main/java/gov/cdc/nbs/questionbank/entities/Condition.java
  apps/question-bank/src/main/java/gov/cdc/nbs/questionbank/entities/Questionnaire.java
  apps/question-bank/src/main/java/gov/cdc/nbs/questionbank/questionnaire/QuestionnaireFinder.java
  apps/question-bank/src/main/java/gov/cdc/nbs/questionbank/questionnaire/QuestionnaireRepository.java
  apps/question-bank/src/main/resources/db/migration/V0001__init.sql
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/questionnaire/QuestionnaireSteps.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/support/ConditionMother.java
  apps/question-bank/src/test/java/gov/cdc/nbs/questionbank/support/QuestionnaireMother.java
  apps/question-bank/src/test/resources/features/questionnaire/Questionnaire.feature
Owners: none

CODEOWNERS:

# This file details who the code owners are.  Code owners are automatically requested for review when a PR is created.
# For details on the format, and condfiguration of this file see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/apps/modernization-api  @JimBarrows-Enquizit @mpeels
/apps/modernization-ui @JimBarrows-Enquizit @mpeels
/app/patient-listener @JimBarrows-Enquizit
/app/question-bank @mpeels
/cdc-sandbox @JimBarrows-Enquizit
/libs/authentication @JimBarrows-Enquizit @mpeels
/libs/database-entities @JimBarrows-Enquizit @mpeels
/libs/event-schema @JimBarrows-Enquizit @mpeels
/patient-search @JimBarrows-Enquizit
/.github/workflows  @szamfir
